.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 568px;
  /*1er probleme : j'ai eu du mal à center le bloc global avec flexbox
    (il était restreint à sa div et de ce fait,
     j'ai du reprendre les dimensions du portable)*/
}

.global {
  display: block;
  width: 180px;
  height: 180px;
  background-color: white;
}

/*---------Ligne 1---------------*/

.firstLine {
  display: flex;
  justify-content: space-between;
}

.firstLine .col1Row1 {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: solid 18.4px #101010;
}

.col3Row1 {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstLine .col3Row1 .egal1Col3Row1 {
  width: 60px;
  height: 18.4px;
  background-color: #101010;
}

.firstLine .col3Row1 .egal2Col3Row1 {
  width: 60px;
  height: 18.4px;
  background-color: #101010;
}

/*--------Fin de la ligne 1------------*/

/*-----------Ligne 2--------------*/

.secondLine {
  display: flex;
}

.secondLine .col1Row2 {
  width: 60px;
  height: 60px;
  background-color: yellow;
}

.secondLine .col2Row2 {
  width: 60px;
  height: 60px;
  background-color: black;
}

.secondLine .col3Row2 {
  width: 60px;
  height: 60px;
  background-color: purple;
}

/*--------Fin de la ligne 2------------*/

/*-----------Ligne 3--------------*/

.firstLine .col1Row3 {
  width: 60px;
  height: 60px;
  background-color: orange;
}

.firstLine .col3Row3 {
  width: 60px;
  height: 60px;
  background-color: pink;
}

/*--------Fin de la ligne 3------------*/
